/*
 * 时间戳样式
 * 定义时间戳元素的布局和外观。
 */

body {
    .timestamps {
        display: flex;
        flex-direction: row;
        font-size: 0.8em;
        color: var(--text-muted);
        gap: 10px;
        margin-top: 20px;

        div {
            display: flex;
            flex-direction: row;
            gap: 3px;
            align-items: center;
        }
    }
}