/*
 * 标题样式
 * 定义标题（h1 到 h6）的外观，确保大小和强调一致。
 */

body {
    h1 {
        font-size: 2em !important;

        img {
            height: 32px;
            width: auto;
        }
    }

    h2 {
        font-size: 1.5em !important;
    }

    h3 {
        font-size: 1.17em !important;
    }

    h4 {
        font-size: 1em !important;
        font-weight: bolder !important;
    }

    h5 {
        font-size: 0.83em !important;
        font-weight: bolder !important;
    }

    h6 {
        font-size: 0.67em !important;
        font-weight: bolder !important;
    }
}