/* ================================================
 * 布局样式
 * 包含响应式布局和通用布局规则
 * ================================================ */

body {
    .notelink {
        img {
            height: 16px;
            width: auto;
        }

        margin-right: 8px;
    }

    .graph {
        flex: unset !important;

        @media (max-width: 1490px) {
            display: block !important;
            order: 3;
        }
    }

    .toc {
        @media (max-width: 1490px) {
            display: block !important;
        }
    }

    .sidebar-container {
        &>div:not(.graph) {
            width: 320px;
            max-height: 365px;
            overflow-y: auto;
        }

        @media (max-width: 1490px) {
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: space-between;
        }
    }
}