/*
 * Custom Styles
 * This file contains additional custom styles for the application.
 * It should be used sparingly to override or extend existing styles.
 */

body {
    header {
        margin-bottom: 1.8em;
    }

    .cm-s-obsidian {
        .table-wrapper {
            overflow-x: scroll;
        }

        picture {
            max-width: 100%;
            height: auto;

            img {
                width: 100%;
                height: auto;
            }
        }
    }

    .cm-s-obsidian>*[id] {
        position: relative;
        cursor: pointer;

        &:hover {
            border: 1px dotted;
            border-color: var(--text-accent);
            margin-left: -10px;
            margin-right: -10px;
            padding: 10px;
        }

        &:hover::before {
            content: "Double-click to copy link";
            position: absolute;
            right: 0;
            top: -1.55em;
            font-weight: normal;
            font-size: 12px;
            color: var(--text-accent);
            font-variant: initial;
            letter-spacing: 0.24px;
            line-height: 14px;
        }
    }

    .referred {
        border: 1px dashed;
        border-color: var(--text-accent);
        padding: 10px;
        margin-left: -10px;
        margin-right: -10px;
    }

    #floating-control {
        position: fixed;
        color: var(--link-color);
        bottom: 1vmax;
        right: 1vmax;
        font-size: 24px;
        z-index: 999999;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        gap: 5px;

        .svg-icon,
        i {
            cursor: pointer;
            height: 24px;
            width: auto;
        }

        #theme-switch {
            .light {
                display: none;
            }

            .dark {
                display: none;
            }

            .auto {
                display: none;
            }
        }

        #theme-switch.light {
            .light {
                display: inline;
            }
        }

        #theme-switch.dark {
            .dark {
                display: inline;
            }
        }

        #theme-switch.auto {
            .auto {
                display: inline;
            }
        }
    }

    .fnote {
        display: none;
        background-color: var(--background-primary);
        border: 1px solid var(--text-accent);
        position: fixed;
        bottom: 10px;
        left: 0;
        right: 0;
        padding: 10px;
        text-align: center;
        z-index: 999;
    }

    .footnote-ref {
        line-height: 85%;

        .fnote-marker {
            background-color: var(--text-accent);
            padding: 2px 5px;
            color: white;
            border-radius: 4px;
            text-decoration: none;
            font-size: 0.7em;
            margin-top: -3px;

            &:hover {
                opacity: 0.7;
            }
        }
    }

    .shownote {
        display: block;
    }

    #forest-graph {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 20px;
        flex-direction: column;

        .forest-body {
            display: inline-flex;
            flex-direction: column;
            transform: rotate(45deg);
            margin: 60px;
            align-items: flex-end;

            @media (max-width: 575.99px) {
                transform: rotate(45deg) scale(0.9);
            }

            .forest-row {
                display: flex;
                flex-direction: row;
                align-items: flex-end;

                a {
                    width: 20px;
                    height: 20px;
                    cursor: pointer;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    img {
                        transform: rotate(-45deg);
                    }
                }

                .plane {
                    cursor: inherit;
                }
            }
        }

        .forest-legends {
            margin-top: 10px;
            display: flex;
            gap: 10px;
            width: 100%;
            justify-content: center;
            flex-wrap: wrap;

            font-size: 0.8em;
            color: var(--text-muted);

            img {
                height: 1.5em;
                width: auto;
                margin-right: 5px;
            }
        }
    }

    .toc-container li::before {
        content: "" !important;
    }

    nav.navbar {
        top: 10px;
        right: 10px;
        left: 10px;
        width: calc(100% - 20px);
        border-radius: 10px;
        border: var(--cards-border-width) solid var(--background-modifier-border);
        z-index: 99999;

        .navbar-inner {
            h1::before {
                content: " ";
                display: inline-block;
                width: 1em;
                height: 1.2em;
                background-size: contain;
                background-repeat: no-repeat;
                background-image: url(/img/logo.svg);
                margin-right: 5px;
                background-position: bottom;
            }

            span {
                margin-left: 10px;
            }
        }

        .search-button {
            border-radius: 10px;

            @media (max-width: 800px) {
                margin-right: 10px;
            }
        }
    }

    .cards {
        table.dataview {
            width: var(--table-width);
        }

        th,
        td {
            border: none !important;
            flex-wrap: wrap;
            gap: 5px;

            a.tag {
                padding: 3px !important;
            }
        }

        table.dataview.table-view-table {
            thead.table-view-thead {
                display: none;

                &::before {
                    display: none;
                }
            }

            tbody {
                tr {
                    position: relative;

                    td {
                        img.inset-cover {
                            height: 70px;
                            width: auto;
                            position: absolute;
                            top: 0px;
                            right: 0px;
                            padding: 0;
                        }
                    }
                }
            }
        }
    }

    .cards-cover-no-border {
        table.dataview.table-view-table {
            tbody {
                tr {
                    td:first-child {
                        width: 100%;

                        img {
                            padding: 0;
                        }
                    }

                    td {
                        svg {
                            width: 14px;
                            height: auto;
                        }

                        display: flex;
                        flex-direction: row;
                        align-items: center;
                    }
                }
            }
        }
    }

    .cards-title-hide-icons {
        table.dataview.table-view-table {
            tbody {
                tr {
                    td:nth-child(2),
                    td:first-child {
                        a::before {
                            display: none;
                        }
                    }
                }
            }
        }
    }

    code[class*="language-"],
    pre[class*="language-"] {
        text-shadow: unset;
    }
}