// 引入远程字体 CSS
@import url('https://chinese-fonts-cdn.deno.dev/packages/jhlst/dist/%E4%BA%AC%E8%8F%AF%E8%80%81%E5%AE%8B%E4%BD%93v2_002/result.css');

// 定义字体样式
body {
    font-weight: 400;
    font-style: normal;
    font-size: 1rem !important;
    font-family: "KingHwa_OldSong", sans-serif !important;
}


// // 引入远程字体 CSS
// @import url('https://chinese-fonts-cdn.deno.dev/packages/lywkpmydb/dist/LXGWWenKaiScreen/result.css');

// // 定义字体样式
// body {
//     font-weight: 400;
//     font-style: normal;
//     font-size: 1rem !important;
//     font-family: "LXGW WenKai Screen", sans-serif !important;
// }

// // 引入远程字体 CSS
// @import url('https://chinese-fonts-cdn.deno.dev/packages/lywkpmydb/dist/LXGWWenKaiMonoScreen/result.css');

// // 定义字体样式
// body {
//     font-weight: 400;
//     font-style: normal;
//     font-size: 1rem !important;
//     font-family: "LXGW WenKai Mono Screen", sans-serif !important;
// }