/* 时间戳整体容器 */
body .timestamps {
    display: flex;
    flex-direction: row;
    font-size: 0.8em;
    color: var(--text-muted);
    gap: 10px;
    margin-top: 20px;
}

/* 每个日期块（svg + span） */
body .timestamps>div {
    display: flex;
    flex-direction: row;
    gap: 3px;
    align-items: center;
}