// 时间戳
body.timestamps {
    display: flex;
    flex-direction: row;
    font-size: 0.8em;
    color: var(--text-muted);
    gap: 10px;
    margin-top: 20px;
}

body.timestamps.div {
    display: flex;
    flex-direction: row;
    gap: 3px;
    align-items: center;
}