// 标题样式
body {
    h1 {
        font-size: 2em !important;
    }
    h2 {
        font-size: 1.5em !important;
    }
    h3 {
        font-size: 1.17em !important;
    }
    h4 {
        font-size: 1em !important;
        font-weight: bolder !important;
    }
    h5 {
        font-size: 0.83em !important;
        font-weight: bolder !important;
    }
    h6 {
        font-size: 0.67em !important;
        font-weight: bolder !important;
    }
}

body.h1 {
    img {
        height: 32px;
        width: auto;
    }
}

// 表格样式
body.table {
    width: 100% !important;
    border: 1px solid lightgray !important;

    td,th {
        padding: 5px 10px !important;

        hr {
            margin: 5px !important;
        }
    }
}