{# Google 分析代码 #}
<script async src="https://www.googletagmanager.com/gtag/js?id=G-0LZW6NDLSS"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-0LZW6NDLSS');
</script>

{# 51.la V6 统计代码 #}
<script charset="UTF-8" id="LA_COLLECT" src="//sdk.51.la/js-sdk-pro.min.js"></script>
<script>LA.init({id:"3MwEJqkKQuFWxmaG",ck:"3MwEJqkKQuFWxmaG"})</script>